#services-carousel{
    background-image: url('../asset/bg/bg1.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card {
    background:#73b5fc8f !important;
    margin: 10px 20px;
    padding: 0 10px;
    border-radius: 20px !important;
    border: 0;
}
.card-body h5{
  font-size: 20px;
  color: #fff;
  border-bottom: 3px solid #4599f3;
}